In [1]:
from jobs import Jobs
jobs = Jobs()
import csv

In [2]:
df = jobs.get_skills_percents_by_continent_df(jobs.skills)
df = df.sort_values(by=['Global'], ascending=False)
with open('csv/skills_per_continent.csv', mode='w') as f:
    f.write(df.to_csv())
df
df.loc['ssh']

Africa           0.00
Asia             0.57
Australia        0.00
Europe           0.00
North America    0.00
South America    0.14
Global           0.14
Name: ssh, dtype: float64

In [3]:
df = jobs.get_skills_percents_by_level_df(jobs.skills)
df = df.sort_values(by=['Global'], ascending=False)
with open('csv/skills_per_level.csv', mode='w') as f:
    f.write(df.to_csv())
df

,Internship,Entry level,Associate,Mid-Senior,Senior,Director,Executive,Not specified,Global
python,84.67,60.88,65.95,71.10,74.49,50.00,51.67,69.94,67.25
sql,72.00,51.89,60.15,61.20,56.56,49.28,31.67,48.64,56.81
programming,30.00,45.62,42.86,52.79,37.58,46.04,91.67,57.20,47.44
spark,7.33,35.03,41.79,40.17,38.57,14.75,30.00,39.48,38.25
aws,8.00,30.65,36.91,42.57,37.58,18.71,40.00,37.96,36.65
java,34.00,30.21,36.22,34.53,33.20,24.82,73.33,46.12,34.55
hadoop,5.33,31.56,29.55,32.24,33.15,8.27,0.00,34.04,31.03
etl,18.67,35.82,27.13,29.51,30.44,22.66,31.67,29.99,30.61
machine learning,60.67,22.57,31.03,29.93,40.12,30.58,40.00,33.44,29.82
r,57.33,23.26,24.21,17.30,34.48,57.55,5.00,21.43,23.33
scala,4.67,16.30,23.63,23.74,26.07,14.03,30.00,31.19,22.31
agile,12.67,17.17,23.12,25.35,23.13,17.27,43.33,17.98,21.70
business intelligence,6.00,23.57,20.41,21.82,24.57,11.87,0.00,17.39,21.53
kafka,4.67,17.61,22.17,24.41,21.80,14.03,30.00,12.67,20.59
azure,12.67,13.62,24.57,23.79,18.65,1.44,0.00,15.66,19.57
nosql,12.00,13.64,18.75,19.30,21.80,12.95,0.00,14.53,17.32
linux,12.00,14.04,17.88,15.76,13.78,7.55,46.67,28.33,16.55
hive,0.00,16.18,20.03,13.24,17.60,5.40,0.00,16.66,15.92
algorithm,14.00,10.47,23.50,14.50,11.90,20.86,40.00,15.86,15.40
data warehouse,5.33,14.51,11.19,18.28,11.73,7.55,1.67,12.81,14.32
functional,22.67,10.76,14.20,16.93,15.00,11.15,53.33,10.15,14.03
scripting,7.33,12.65,12.21,16.84,7.08,3.96,43.33,19.58,13.80
statistics,17.33,9.97,15.76,11.98,11.40,27.34,10.00,15.26,12.75
security,0.67,9.97,10.93,16.87,3.65,3.24,1.67,17.45,12.10
network,0.00,10.49,13.00,12.74,6.03,8.63,1.67,17.72,11.74
git,0.67,7.48,13.72,11.69,20.03,6.12,31.67,10.42,11.62
server,6.67,12.02,11.95,11.96,8.85,10.43,40.00,6.64,11.25
ai,13.33,9.01,12.26,10.54,15.11,22.66,10.00,9.42,11.07
redshift,4.67,7.85,11.42,10.68,13.00,14.75,0.00,14.40,10.61
postgres,1.33,9.99,12.21,11.44,4.59,2.88,0.00,13.47,10.46
...,...,...,...,...,...,...,...,...,...
soa,0.00,0.08,0.38,0.64,0.06,0.36,0.00,0.00,0.31
hue,0.00,0.00,0.03,0.89,0.00,0.00,0.00,0.07,0.29
ide,0.00,0.54,0.51,0.02,0.00,0.00,0.00,0.27,0.28
circleci,0.00,0.23,0.00,0.14,1.66,0.00,0.00,0.00,0.27
rapidminer,0.00,0.12,0.20,0.28,1.00,0.00,0.00,0.00,0.26
wms,0.00,0.73,0.28,0.00,0.00,0.36,0.00,0.00,0.26
knime,0.00,0.50,0.00,0.32,0.17,0.00,0.00,0.00,0.25
tensor flow,0.00,0.62,0.00,0.20,0.00,0.00,0.00,0.00,0.23
concur,0.00,0.00,0.00,0.75,0.00,0.00,0.00,0.00,0.23
cron,0.00,0.08,0.00,0.00,1.94,0.00,0.00,0.00,0.21
jdbc,0.00,0.08,0.08,0.30,0.11,2.52,0.00,0.00,0.18
greenplum,0.00,0.06,0.10,0.39,0.06,0.00,0.00,0.00,0.17
algebra,0.00,0.39,0.15,0.07,0.00,0.00,0.00,0.00,0.16
sandbox,0.00,0.00,0.64,0.00,0.00,0.00,0.00,0.00,0.14
ssh,0.00,0.00,0.03,0.02,0.00,0.00,0.00,1.59,0.14
calculus,0.00,0.35,0.00,0.07,0.00,0.00,0.00,0.00,0.12
ambari,0.00,0.02,0.00,0.23,0.00,0.00,0.00,0.53,0.12
haskell,0.00,0.02,0.00,0.34,0.00,0.00,0.00,0.00,0.11
anaconda,0.00,0.35,0.00,0.00,0.00,0.00,0.00,0.13,0.10
osi,0.00,0.02,0.03,0.20,0.00,0.00,0.00,0.20,0.09
pattern recognition,0.00,0.02,0.00,0.20,0.00,0.00,0.00,0.20,0.08
drill,0.00,0.08,0.13,0.05,0.00,0.00,0.00,0.00,0.07
jwt,0.00,0.00,0.00,0.02,0.00,0.00,0.00,0.53,0.05
identity access management,0.00,0.10,0.00,0.00,0.00,0.00,0.00,0.00,0.03
phoenix,0.00,0.06,0.00,0.02,0.00,0.00,0.00,0.00,0.02
lucene,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.01
jetty,0.00,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.01
sqlite,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.01
arrow,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.01
heron,0.00,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.01

In [4]:
df = jobs.get_skills_ranked_by_continent_df()
with open('csv/skill_rank_per_continent.csv', mode='w') as f:
    f.write(df.to_csv())
df

,Africa,Asia,Australia,Europe,North America,South America,Global
1,sql,python,python,python,python,python,python
2,programming,programming,sql,sql,sql,sql,sql
3,etl,sql,aws,programming,programming,os,programming
4,aws,java,programming,spark,aws,programming,spark
5,python,spark,etl,aws,etl,spark,aws
6,hadoop,hadoop,azure,java,spark,aws,java
7,agile,machine learning,spark,machine learning,java,java,hadoop
8,business intelligence,etl,data warehouse,hadoop,agile,hadoop,etl
9,functional,aws,agile,r,hadoop,machine learning,machine learning
10,spark,r,business intelligence,etl,scripting,scala,r
11,scrum,scala,r,scala,business intelligence,r,scala
12,r,kafka,security,agile,functional,nosql,agile
13,excel,algorithm,tableau,kafka,nosql,etl,business intelligence
14,machine learning,statistics,redshift,azure,data warehouse,business intelligence,kafka
15,data warehouse,linux,hadoop,business intelligence,linux,hive,azure
16,azure,hive,scala,nosql,kafka,tableau,nosql
17,data pipeline,ai,java,linux,server,data warehouse,linux
18,postgres,scripting,machine learning,hive,hive,airflow,hive
19,statistics,data warehouse,scripting,algorithm,scala,agile,algorithm
20,server,business intelligence,c#,git,security,security,data warehouse
21,nosql,nosql,network,devops,machine learning,kafka,functional
22,sql server,azure,snowflake,ai,data pipeline,functional,scripting
23,network,data pipeline,c++,docker,azure,redshift,statistics
24,data visualization,security,s3,functional,algorithm,statistics,security
25,ruby,functional,hive,airflow,shell,linux,network
26,rest,network,server,network,sql server,scripting,git
27,redshift,mathematics,data lake,statistics,network,excel,server
28,ssas,c++,sql server,data warehouse,git,mapreduce,ai
29,java,redshift,devops,javascript,airflow,git,redshift
30,security,tableau,mathematics,server,s3,postgres,postgres
...,...,...,...,...,...,...,...
139,nodejs,quicksight,kerberos,algebra,tomcat,san,soa
140,neural network,iam,jwt,quicksight,tensor flow,phoenix,hue
141,mpp,wms,jetty,calculus,ssh,oauth,ide
142,mllib,tensor flow,jdbc,soa,sqlite,neural network,circleci
143,microsoft power bi,pattern recognition,identity access management,tomcat,sandbox,mllib,wms
144,maven,rapidminer,ide,hue,rapidminer,microsoft power bi,rapidminer
145,lucene,knime,iam,anaconda,probability,mahout,knime
146,kudu,jdbc,hue,neural network,pattern recognition,lucene,tensor flow
147,knime,kudu,heron,encryption,oauth,kerberos,concur
148,kerberos,ide,haskell,map reduce,mllib,jetty,cron
149,jwt,drill,greenplum,osi,mahout,identity access management,jdbc
150,jetty,sparksql,frontend,mllib,lucene,ide,greenplum
151,jdbc,jwt,flume,drill,knime,iam,algebra
152,identity access management,hue,flink,jdbc,jwt,hue,ssh
153,iam,sqlite,eclipse,greenplum,jetty,heron,sandbox
154,hue,sandbox,drill,mahout,identity access management,haskell,calculus
155,greenplum,phoenix,data cleaning,jwt,ide,greenplum,ambari
156,frontend,osi,data architecture,identity access management,heron,gdpr,haskell
157,flume,lucene,cron,phoenix,greenplum,frontend,anaconda
158,encryption,jetty,concur,zookeeper,eclipse,encryption,osi
159,elasticsearch,identity access management,computer vision,sqlite,drill,eclipse,pattern recognition
160,drill,heron,circleci,jetty,data wrangling,drill,drill
161,cron,gdpr,cassandra,arrow,data cleaning,django,jwt
162,concur,cron,calculus,ambari,cron,data wrangling,identity access management
163,calculus,concur,arrow,ssh,circleci,concur,phoenix
164,arrow,calculus,apache crunch,pattern recognition,calculus,circleci,sqlite
165,apache crunch,arrow,angular,lucene,arrow,calculus,lucene
166,angular,apache crunch,anaconda,heron,apache crunch,azure data factory,jetty
167,anaconda,anaconda,ambari,haskell,ambari,arrow,heron
168,ambari,algebra,algebra,concur,algebra,anaconda,arrow

In [5]:
df = jobs.get_skills_ranked_by_level_df()
with open('csv/skill_rank_per_level.csv', mode='w') as f:
    f.write(df.to_csv())
df

,Internship,Entry level,Associate,Mid-Senior,Senior,Director,Executive,Not specified,Global
1,python,python,python,python,python,r,programming,python,python
2,sql,sql,sql,sql,sql,python,java,programming,sql
3,machine learning,programming,programming,programming,machine learning,sql,docker,sql,programming
4,r,etl,spark,aws,spark,programming,functional,java,spark
5,java,spark,aws,spark,programming,machine learning,python,spark,aws
6,programming,hadoop,java,java,aws,statistics,linux,aws,java
7,scikit,aws,machine learning,hadoop,r,mathematics,scripting,hadoop,hadoop
8,pandas,java,hadoop,machine learning,java,java,agile,machine learning,etl
9,functional,business intelligence,etl,etl,hadoop,etl,devops,scala,machine learning
10,c++,r,azure,agile,etl,ai,server,etl,r
11,etl,machine learning,r,kafka,scala,algorithm,ruby,linux,scala
12,statistics,kafka,scala,azure,business intelligence,aws,machine learning,r,agile
13,excel,agile,algorithm,scala,agile,agile,kubernetes,scripting,business intelligence
14,mathematics,scala,agile,business intelligence,nosql,presto,aws,agile,kafka
15,javascript,hive,kafka,nosql,kafka,tableau,algorithm,network,azure
16,algorithm,data warehouse,business intelligence,data warehouse,git,spark,sql,security,nosql
17,devops,linux,hive,r,azure,redshift,git,business intelligence,linux
18,css,nosql,nosql,functional,hive,scala,etl,hive,hive
19,ai,azure,linux,security,airflow,kafka,zookeeper,algorithm,algorithm
20,azure,scripting,statistics,scripting,docker,s3,transact-sql,azure,data warehouse
21,agile,server,functional,linux,ai,powerbi,spark,statistics,functional
22,nosql,tableau,git,algorithm,functional,airflow,scala,c++,scripting
23,linux,functional,data pipeline,hive,linux,nosql,kafka,nosql,statistics
24,jenkins,javascript,network,network,devops,data lake,cassandra,redshift,security
25,html,network,docker,data pipeline,redshift,data visualization,backend,mathematics,network
26,data pipeline,algorithm,ai,devops,tableau,business intelligence,os,javascript,git
27,tableau,airflow,scripting,statistics,c,functional,statistics,postgres,server
28,os,devops,postgres,server,elasticsearch,server,excel,data warehouse,ai
29,aws,postgres,server,git,algorithm,scrum,deep learning,kafka,redshift
30,spark,statistics,redshift,postgres,data warehouse,sql server,c++,data structures,postgres
...,...,...,...,...,...,...,...,...,...
139,haskell,rapidminer,algebra,probability,ssh,jwt,drill,ssl,soa
140,greenplum,identity access management,sparksql,ambari,ssas,jupyter,django,sqlite,hue
141,gdpr,iam,drill,tensor flow,sqlite,jetty,data wrangling,soa,ide
142,frontend,soa,greenplum,pattern recognition,sparksql,identity access management,data visualization,snowflake,circleci
143,flume,jdbc,jdbc,osi,sandbox,ide,data structures,scipy,wms
144,flink,drill,ssh,sparksql,san,iam,data pipeline,sandbox,rapidminer
145,encryption,cron,osi,nodejs,phoenix,hue,data lake,rapidminer,knime
146,elasticsearch,phoenix,hue,apache crunch,pattern recognition,html,data cleaning,phoenix,tensor flow
147,eclipse,greenplum,zookeeper,scipy,osi,heron,data architecture,neural network,concur
148,drill,web scraping,tensor flow,circleci,microsoft power bi,hbase,css,microsoft power bi,cron
149,data wrangling,sqlite,sqlite,neural network,mahout,haskell,cron,lucene,jdbc
150,data lake,kudu,quicksight,calculus,lucene,greenplum,concur,kudu,greenplum
151,data cleaning,zookeeper,phoenix,algebra,jwt,gdpr,computer vision,knime,algebra
152,data architecture,probability,pattern recognition,drill,jetty,frontend,cli,kerberos,ssh
153,cron,pattern recognition,oauth,lucene,identity access management,encryption,circleci,jetty,sandbox
154,concur,osi,mllib,ssh,ide,eclipse,calculus,jdbc,calculus
155,computer vision,mahout,lucene,phoenix,iam,drill,c#,identity access management,ambari
156,cli,haskell,knime,jwt,hue,data wrangling,c,iam,haskell
157,circleci,arrow,jwt,jetty,heron,cron,business intelligence,heron,anaconda
158,calculus,ambari,jetty,ide,haskell,concur,azure data factory,haskell,osi
159,bash,ssh,identity access management,heron,encryption,circleci,azure,greenplum,pattern recognition
160,backend,sandbox,heron,wms,drill,calculus,arrow,drill,drill
161,azure data factory,quicksight,haskell,sqlite,data wrangling,azure data factory,apache nifi,cron,jwt
162,arrow,lucene,cron,sandbox,concur,arrow,apache crunch,concur,identity access management
163,apache nifi,jwt,concur,mllib,calculus,apache nifi,apache beam,circleci,phoenix
164,apache crunch,jetty,circleci,microsoft power bi,arrow,apache crunch,angular,calculus,sqlite
165,apache beam,hue,calculus,identity access management,apache crunch,apache beam,anaconda,arrow,lucene
166,anaconda,heron,arrow,cron,anaconda,anaconda,ambari,apache crunch,jetty
167,ambari,concur,anaconda,arrow,ambari,ambari,algebra,apache beam,heron
168,algebra,apache crunch,ambari,anaconda,algebra,algebra,airflow,algebra,arrow

In [6]:
import matplotlib.pyplot as plt
max_deltas = jobs.get_level_percentage_max_deltas()
max_deltas

for skill in jobs.skills:
    delta = float(max_deltas.loc[skill])
    if jobs.skill_percents[skill] >= 10 and delta <= 5:
        print(skill)

In [7]:
freq_skill_sets = jobs.frequent_skill_sets(1, 100, True)

computing size 2. previous set size 113
computing size 3. previous set size 1683
computing size 4. previous set size 7448
computing size 5. previous set size 15192
computing size 6. previous set size 17433
computing size 7. previous set size 12211
computing size 8. previous set size 5474
computing size 9. previous set size 1603
computing size 10. previous set size 306
computing size 11. previous set size 40
computing size 12. previous set size 3

In [12]:
jobs.skill_sets_to_csv(freq_skill_sets, 'all_skill_sets')
jobs.skill_sets_to_csv(freq_skill_sets, 'all_skill_sets_indexes', True)

In [9]:
languages = ['java', 'python', 'r', 'scala', 'c', 'c++', 'c#', 'sql', 'haskell']
language_skill_sets = jobs.frequent_skill_sets2(1, 100, languages, True)

computing size 2. previous set size 8
computing size 3. previous set size 28
computing size 4. previous set size 39
computing size 5. previous set size 21
computing size 6. previous set size 4

In [13]:
jobs.skill_sets_to_csv(language_skill_sets, 'language_skill_sets')
jobs.skill_sets_to_csv(freq_skill_sets, 'language_skill_sets_indexes', True)