In [1]:
target_skills = ['docker']

In [2]:
target_skills = [skill.strip().lower() for skill in target_skills]
from jobs import Jobs
jobs = Jobs()
for skill in target_skills:
    assert skill in jobs.skills, "The skill '{}' was not analyzed".format(skill)

### Percentage of job postings per continent and world wide

In [3]:
jobs.get_skills_percents_by_continent_df(target_skills)

        Africa  Asia  Australia  Europe  North America  South America  Global
docker     0.5  8.09       2.24   12.59          10.74           6.69    9.87

### Ranking per continent and world wide

In [4]:
print('Total number of skills: {}'.format(len(jobs.skills)))
jobs.get_skills_continent_rankings_df(target_skills)

Total number of skills: 168

        Africa  Asia  Australia  Europe  North America  South America  Global
docker      73    44         68      23             40             40      34

### Percentage of job postings per xp level

In [5]:
jobs.get_skills_percents_by_level_df(target_skills)

,Internship,Entry level,Associate,Mid-Senior,Senior,Director,Executive,Not specified,Global
docker,2.0,5.96,12.77,8.62,16.1,1.44,70.0,11.94,9.87

### Ranking per xp level

In [6]:
print('Total number of skills: {}'.format(len(jobs.skills)))
jobs.get_skills_level_rankings_df(target_skills)

Total number of skills: 168

,Internship,Entry level,Associate,Mid-Senior,Senior,Director,Executive,Not specified
docker,52,47,25,42,20,68,3,32